.user-entry-container{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: 0.45rem;
    

    background: #313131;
    border-radius: 12px;
}

.entry-type-debit{
    border-left: 12px solid #B00000;
}

.entry-type-credit{
    border-left: 12px solid #107100;
}

.color{
    color: aliceblue;
}

.width-date{
    width: 5.5rem;
}

.width-name{
    width: 10rem;
}

.width{
    width: 2rem;
}

.align-text{
    text-align: center;
}
