.entry-header-container{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: 1rem;
    

    background: #3EA2C1;
    border-radius: 12px;
}

.color{
    color: aliceblue;
}

.name-margin{
    margin-right: 8rem;
}

.margin-right{
    margin-right: 3rem;
}